<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="UTF-8">

    <!-- CSS -->
    <link href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../node_modules/leaflet/dist/leaflet.css" rel="stylesheet">

    <!-- Scripts -->
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/leaflet/dist/leaflet.js"></script>
    <script src="../node_modules/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
    <script src="../js/index.js"></script>

    <title>AngularJS and Leaflet</title>
  </head>
  <body ng-controller="IndexController">
    <div class="container">
      <h1 class="display-3 text-center">G E O T O D O</h1>

      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <leaflet tiles="tiles" lf-center="center" markers="markers" height="480px" width="100%"></leaflet>
          </div>

          <div class="col-md-6">
            <h2>To Do List</h2>
            <table class="table">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Due date</th>
                  <th class="text-right">
                    <span class="badge badge-secondary">
                      {{counter == 1 ? counter + " task" : counter + " tasks"}}
                    </span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="marker in markers">
                  <td>{{marker.title}}</td>
                  <td>{{marker.dueDate | date: "dd/MM/yyyy (hh:mm)"}}</td>
                  <td>
                    <button class="btn btn-info" ng-click="info($index)" data-toggle="modal" data-target="#modal">Info</button>
                    <button class="btn btn-success" ng-click="show($index)">Show</button>
                    <button class="btn btn-danger" ng-click="remove($index)">Remove</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title" id="modalLabel">Info</h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
              <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" ng-model="currentMarker.title" id="title" placeholder="Enter title">
              </div>

              <div class="form-group">
                <label for="due_date">Due date</label>
                <input type="date" class="form-control" ng-model="currentMarker.dueDate" id="due_date" placeholder="Enter due date">
              </div>

              <div class="form-group">
                <fieldset disabled>
                  <label for="address">Address</label>
                  <textarea class="form-control" id="address" rows="3" ng-model="currentMarker.address"></textarea>
                </fieldset>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" id="btnClose" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
